In [1]:
import pandas
import random
import ipaddress

In [2]:
filename = "UNSW_2018_IoT_Botnet_Final_10_Best.csv"
df = pandas.read_csv(filename)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df=df.drop(['category', 'subcategory'], axis='columns')

In [4]:
df.head()

,index,pkSeqID,proto,saddr,sport,daddr,dport,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack
0,0,1,tcp,192.168.100.147,49960,192.168.100.7,80,9,0.068909,75,0.000000,1,0.068909,96,14.511893,0.566862,0.137818,1
1,1,2,arp,192.168.100.7,-1,192.168.100.147,-1,10,0.000000,2,0.000131,2,0.000131,1,0.000000,0.000000,0.000131,1
2,2,3,tcp,192.168.100.147,49962,192.168.100.7,80,11,0.064494,75,0.000000,1,0.064494,96,15.505319,0.567549,0.128988,1
3,3,4,tcp,192.168.100.147,49964,192.168.100.7,80,12,0.064189,75,0.000000,1,0.064189,96,15.578993,0.567570,0.128378,1
4,4,5,tcp,192.168.100.147,49966,192.168.100.7,80,13,0.063887,75,0.000000,1,0.063887,96,15.652637,0.567630,0.127774,1

In [5]:
df.dtypes

index                  int64
pkSeqID                int64
proto                 object
saddr                 object
sport                 object
daddr                 object
dport                 object
seq                    int64
stddev               float64
N_IN_Conn_P_SrcIP      int64
min                  float64
state_number           int64
mean                 float64
N_IN_Conn_P_DstIP      int64
drate                float64
srate                float64
max                  float64
attack                 int64
dtype: object

In [6]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

  proto            saddr  sport            daddr dport
0   tcp  192.168.100.147  49960    192.168.100.7    80
1   arp    192.168.100.7     -1  192.168.100.147    -1
2   tcp  192.168.100.147  49962    192.168.100.7    80
3   tcp  192.168.100.147  49964    192.168.100.7    80
4   tcp  192.168.100.147  49966    192.168.100.7    80

In [7]:
obj_df[obj_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [proto, saddr, sport, daddr, dport]
Index: []

In [8]:
obj_df["proto"].value_counts()

udp          1996437
tcp          1662812
icmp            9052
arp              213
ipv6-icmp          8
Name: proto, dtype: int64

In [9]:
cleanup_nums = {"proto":     {"udp": 1, "tcp": 2,"icmp": 3,"arp": 4,"ipv6-icmp": 5}}

In [10]:
df.replace(cleanup_nums, inplace=True)
df.head()

,index,pkSeqID,proto,saddr,sport,daddr,dport,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack
0,0,1,2,192.168.100.147,49960,192.168.100.7,80,9,0.068909,75,0.000000,1,0.068909,96,14.511893,0.566862,0.137818,1
1,1,2,4,192.168.100.7,-1,192.168.100.147,-1,10,0.000000,2,0.000131,2,0.000131,1,0.000000,0.000000,0.000131,1
2,2,3,2,192.168.100.147,49962,192.168.100.7,80,11,0.064494,75,0.000000,1,0.064494,96,15.505319,0.567549,0.128988,1
3,3,4,2,192.168.100.147,49964,192.168.100.7,80,12,0.064189,75,0.000000,1,0.064189,96,15.578993,0.567570,0.128378,1
4,4,5,2,192.168.100.147,49966,192.168.100.7,80,13,0.063887,75,0.000000,1,0.063887,96,15.652637,0.567630,0.127774,1

In [12]:
df.dtypes

index                  int64
pkSeqID                int64
proto                  int64
saddr                 object
sport                 object
daddr                 object
dport                 object
seq                    int64
stddev               float64
N_IN_Conn_P_SrcIP      int64
min                  float64
state_number           int64
mean                 float64
N_IN_Conn_P_DstIP      int64
drate                float64
srate                float64
max                  float64
attack                 int64
dtype: object

In [13]:
obj_df["sport"].value_counts()

In [14]:
cleanup_nums = {"sport":     {"0x0303": 771, "0x0008": 8,"0x0011": 17,"0x000d": 13}}

In [15]:
df.replace(cleanup_nums, inplace=True)
df.head()

,index,pkSeqID,proto,saddr,sport,daddr,dport,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack
0,0,1,2,192.168.100.147,49960,192.168.100.7,80,9,0.068909,75,0.000000,1,0.068909,96,14.511893,0.566862,0.137818,1
1,1,2,4,192.168.100.7,-1,192.168.100.147,-1,10,0.000000,2,0.000131,2,0.000131,1,0.000000,0.000000,0.000131,1
2,2,3,2,192.168.100.147,49962,192.168.100.7,80,11,0.064494,75,0.000000,1,0.064494,96,15.505319,0.567549,0.128988,1
3,3,4,2,192.168.100.147,49964,192.168.100.7,80,12,0.064189,75,0.000000,1,0.064189,96,15.578993,0.567570,0.128378,1
4,4,5,2,192.168.100.147,49966,192.168.100.7,80,13,0.063887,75,0.000000,1,0.063887,96,15.652637,0.567630,0.127774,1

In [16]:
b=obj_df["sport"].value_counts()

0x0303    8950
80        3985
2290      1045
2456      1043
2969      1041
          ...
29486        4
29522        4
29625        4
29511        4
29514        4
Name: sport, Length: 131078, dtype: int64

In [ ]:
for i in range(len(df)):
    df.loc[i,'saddr']=int(ipaddress.IPv4Address(df.loc[i,'saddr'])) 
    df.loc[i,'daddr']=int(ipaddress.IPv4Address(df.loc[i,'daddr']))

In [ ]:
df.head()

In [ ]:
obj_df["saddr"].value_counts()

In [ ]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

In [ ]:
df.to_csv('FORMAT_UNSW_2018_IoT_Botnet_Final_10_Best.csv')

In [ ]:
int(ipaddress.IPv6Address('fe80::250:56ff:febe:bf1a'))

In [ ]:
sport_df=obj_df["sport"]

In [ ]:
cleanup_nums = {"sport":     {"0x0303": 771, "0x0008": 8,"0x0011": 17,"0x000d": 13}}

In [17]:
b.to_csv('test1.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.